body {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  width: 100%;
  height: 100vh;
  background: url(background.jpeg);
  display: flex;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Sacramento", cursive;
  text-align: center;
  font-size: 35px;
  font-weight: 200;
  line-height: 30px;
  color: black;
}

h2 {
  font-family: "Sacramento", cursive;
  font-size: 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  font-weight: 200;
}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  color: black;
  font-size: 17px;
  font-weight: 100;
  margin: 0;
  text-align: left;
  line-height: 20px;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 7px;
  text-transform: capitalize;
}

.weather-app {
  max-width: 700px;
  margin: 0 auto;
  margin: 35px auto;
  padding: 40px;
  border-radius: 35px;
  background-color: rgb(12, 112, 146, 0.6);
}

.weather-app-border {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.small {
  text-align: center;
}

#search-input {
  padding: 5px;
}

.weather-app-spacing2 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.weather-temperature canvas {
  margin-right: 5px;
  margin-top: 7px;
  height: 50px;
  width: 50px;
  vertical-align: top;
}

.weather-temperature strong {
  font-size: 60px;
  line-height: 1;
  font-weight: 400;
}

.units {
  position: relative;
  font-size: 15px;
  top: -32px;
}

.btn {
  background-color: #66b9d5;
  border: #66b9d5;
}

.weather-temperature .active {
  color: black;
  text-decoration: none;
  cursor: default;
}

.weather-temperature .active :hover {
  text-decoration: none;
}

#f-link {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 10px;
}

.weather-forecast h3 {
  color: black;
  font-family: arial, sans-serif;
  font-size: 14px;
  font-weight: 100;
  text-align: center;
  height: 15px;
  line-height: 15px;
  padding-top: 7px;
}

.weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: black;
  font-size: 13px;
  font-weight: 400;
  height: auto;
  line-height: 15px;
  white-space: nowrap;
}
